<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Your ID {{ data.ID }}</h2>
    <h1>Display the percentage of course outcomes achieved based on grades for all courses.</h1>

    <form action="{% url 'displayStudent' %}" method="post">
        {% csrf_token %}
        
        <input type="hidden" name="S_id" value="{{ data.ID }}">
        <button type="submit" name="Btn1">Click here</button>
    </form>
</body>
</html>